.searchLayout {
  height: 70px;
  width: 45%;
  background-color: #314272;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.icon {
  height: 45px;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-family: 'Ubuntu Mono', monospace;
  height: 45px;
  width: 70%;
  color: #ffffff;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  outline: none;
  &::placeholder {
    color: #ffffff;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    content: url("./clear.svg");
    color: #ffffff;
  }
}

.button {
  font-family: 'Ubuntu Mono', monospace;
  height: 45px;
  width: 15%;
  color: #ffffff;
  background-color: #3267ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  &:hover {
    background-color: darken(#2059ff, 2%);
  }
}