:global {
  body[data-theme='light'] {
    --profile-github-placeholder: var(--palette-color-7);
  }

  body[data-theme='dark'] {
    --profile-github-placeholder: var(--palette-color-1);
  }
}

.row {
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.placeholder {
  font-size: 16px;
  color: var(--profile-github-placeholder);
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--btn-color);

  &:hover {
    color: var(--btn-color-hover);
  }
}