:global {
  body[data-theme='light'] {
    --search-bg: var(--palette-color-1);
    --search-color: var(--palette-color-5);
    --search-placeholder-color: var(--palette-color-3);
    --search-shadow: var(--shadow);
    --search-clear-content:url("clear-black.svg");
  }

  body[data-theme='dark'] {
    --search-bg: var(--palette-color-6);
    --search-color: var(--palette-color-1);
    --search-placeholder-color: var(--palette-color-2);
    --search-shadow: unset;
    --search-clear-content: url("clear-white.svg");
  }
}

.searchLayout {
  height: 70px;
  width: 40%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: var(--search-bg);
  box-shadow: var(--search-shadow);

  @media (max-width: 768px) {
    width: 90%;
  }
}

.icon {
  height: 45px;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 10%;
  }
}

.search {
  font-family: 'Ubuntu Mono', monospace;
  height: 45px;
  width: 70%;
  color: var(--search-color);
  font-size: 18px;
  background-color: transparent;
  border: 0;
  outline: none;
  &::placeholder {
    color: var(--search-placeholder-color);
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    content: var(--search-clear-content);
  }

  @media (max-width: 768px) {
    font-size: 14px;
    width: 60%;
  }
}

.button {
  font-family: 'Ubuntu Mono', monospace;
  height: 45px;
  width: 15%;
  color: var(--palette-color-1);
  background-color: var(--btn-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  &:hover {
    background-color: var(--btn-color-hover);
  }

  @media (max-width: 768px) {
    font-size: 12px;
    width: 20%;
  }
}