:global {
  body[data-theme='light'] {
    --profile-bg: var(--palette-color-1);
    --profile-shadow: var(--shadow);
  }

  body[data-theme='dark'] {
    --profile-bg: var(--palette-color-6);
    --profile-shadow: unset;
  }
}

.profileLayout {
  height: auto;
  width: 40%;
  background-color: var(--profile-bg);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  box-shadow: var(--profile-shadow);
}

.iconLayout {
  width: 20%;
  padding-right: 40px;
  box-sizing: border-box;
}

.icon {
  width: 115px;
  height: 115px;
  background-size: 115px;
  border-radius: 50%;
}

.infoLayout {
  height: 100%;
  width: 80%;
  color: #ffffff;
}